---
img: /images/.JPG
img_alt:
location: Airlie Beach
activity: Boathaven Beach
text: Boathaven beach is one of the most recommended in Airlie as it has a stinger net all year round so you can swim with no need to worry and you also have a view of the marina as a backdrop, so if you're like me and you love to daydream about which boat will someday be yours then it's a great place to spend the afternoon. Boathaven is just a 15 minute walk from the Lagoon and just 8 minutes from the Airlie beach Hotel.

Head to lunch at the Anchor Bar and spend the afternoon at the infinity pool, sipping cocktails with a view of Hook Islands, the largest of all the Whitsundays Islands. The Anchor has a great food and drinks menu and I also recommend it for an evening spot. If you're looking for reasonably priced food then it's a really good option, I highly recommend the make your own cheesecake!
---

<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<img class="card" src="/images/.JPG" alt=".">
<p> <span> Location: </span> Airlie Beach  </p>
<p> <span>Activity:</span> Boathaven Beach</p>
<p>Boathaven beach is one of the most recommended in Airlie as it has a stinger net all year round so you can swim with no need to worry and you also have a view of the marina as a backdrop, so if you're like me and you love to daydream about which boat will someday be yours then it's a great place to spend the afternoon. Boathaven is just a 15 minute walk from the Lagoon and just 8 minutes from the Airlie beach Hotel.

Head to lunch at the Anchor Bar and spend the afternoon at the infinity pool, sipping cocktails with a view of Hook Islands, the largest of all the Whitsundays Islands. The Anchor has a great food and drinks menu and I also recommend it for an evening spot. If you're looking for reasonably priced food then it's a really good option, I highly recommend the make your own cheesecake!

 </p>
</div>
