<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<img class="card" src="/images/.JPG" alt="">
<p> <span> Location: </span> Airlie Beach  </p>
<p> <span>Activity:</span> Relax and Ailie Lagoon </p>
<p> Airlie beach Lagoon pool is perfect to enjoy a day off of the reef. You'll find hundreds of solo travels sitting at the lagoon so if you're looking to meet people this is a great place to start. The water is warm and the lagoon has shallow areas meaning you can layout and sunbathe in the water. The lagoon has a smaller children's pool next to it so it's family friendly but you also don’t have kids splashing around in the main pool.  Some of the local restaurants such as the Treehouse and The Deck lookout across the lagoon so you can grab lunch and spend the whole day here.
In the evening head to Boaty’s with your new friends and meet some of the friendly locals. Boaty's has well priced food and often entertainment, either karaoke or a quiz night of some kind.
 </p>
</div>
