---
img: /images/koala1.JPG
img_alt: Koala in a tree
location: Australia Zoo
activity: Animal Encounters
text: Australia Zoo belongs to the famous Irwin family. It’s an East Coast ‘MUST DO’ so make sure it’s on your bucket list.
You can get a free shuttle from Beerwah station that takes you straight to the Zoo or take a public bus, as many routes go to the Zoo directly. The opening times are 9am-5pm daily including weekends and school holidays, however these are naturally a lot busier. One of the perks of visiting during the school holidays, the Zoo hosts lots of extra seasonal activities and you are likely to see the Irwins themselves hosting crocodile feeding shows, Tigers talks and more.

An adult admission ticket is $59 and a childs' ticket is $35, you can also purchase annual passes meaning you'll save money if you plan to visit the zoo more than once.
If you're looking to get a bit closer to the animals the Zoo offers lots of different encounters meaning you can cuddle up to Tiger cubs, lemurs or get yourself an infamous koala selfie.
<a target="_blank" href="https://www.australiazoo.com.au/"> Australia Zoo
---

<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<img class="card" src="/images/koala1.JPG" alt="hidden beach entrance. Stairs leading down to an empty beach.">
<p> <span> Location: </span> Australia Zoo </p>
<p> <span>Activity:</span> Animal Encounters</p>
<p> Australia Zoo belongs to the famous Irwin family. It’s an East Coast ‘MUST DO’ so make sure it’s on your bucket list.
You can get a free shuttle from Beerwah station that takes you straight to the Zoo or take a public bus, as many routes go to the Zoo directly. The opening times are 9am-5pm daily including weekends and school holidays, however these are naturally a lot busier. One of the perks of visiting during the school holidays, the Zoo hosts lots of extra seasonal activities and you are likely to see the Irwins themselves hosting crocodile feeding shows, Tigers talks and more.

An adult admission ticket is $59 and a childs' ticket is $35, you can also purchase annual passes meaning you'll save money if you plan to visit the zoo more than once.
If you're looking to get a bit closer to the animals the Zoo offers lots of different encounters meaning you can cuddle up to Tiger cubs, lemurs or get yourself an infamous koala selfie.
<a target="_blank" href="https://www.australiazoo.com.au/"> Australia Zoo </a>
 </p>
</div>
