<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<img class="card" src="/images/southbankbrisbane.JPG" alt="South Bank Brisbane in the sunshine">
<p> <span> Location: </span> Brisbane </p>
<p> <span>Activity:</span> South Bank </p>
<p> Take a walk along Victoria Bridge towards South Bank where you'll find the Brisbane Wheel. The wheel is 200ft high, giving you a great view over Brisbane River. The tickets are $22 each for 4 loops.
Continue along South Bank to find the markets. The markets have a variety of clothes, artwork, jewellery and food stools and they are open Friday to Sunday. Once you've finished browsing you can get food and cocktails at South Bank Social, overlooking the  man-made beach. Brisbane has some good nightlife, fortitude valley is often recommended.

You can get to Noosa from either Brisbane or the Sunshine Coast airport with regular buses and trains. The public transport in the area is great, it takes roughly a 1 hour from the Sunshine Coast airport by bus and costs no more than $8-10. If, however, you’d rather a direct route you can book a shuttle with Con-X-ion for around $35.
 </p>
</div>
