<h2> DAY {{ forloop.index }} ITINERARY </h2>
<p> Byron Bay </p>
<p> Kayaking and Cocktails </p>
<p> Get settled in to life in Byron Bay by getting to know the area. Spend the morning browsing the boutique shops filled with a mixture of vintage and surfing styles. The one of a kind shops here will make you want to spend spend spend!

Kayak with Dolphins with the team at Cape Byron Kayaks, who are located a short walk to the right of Main Beach. The team are fantastic and will do their absolute best to find some marine life but you have to remember the time of year you go can affect what you will be able to see. I kayaked with them and managed to see a pod of Dolphins and some Turtles but best of all we had a mumma Whale and her baby wave a fin hello before ducking under our kayaks and swimming straight past us. Honestly a travel highlight!https://www.capebyronkayaks.com/


Head back into town for a lunch stop at Miss Margarita's a highly popular Mexican restaurant which, as you can probably guess, does great margarita's! There can be a waiting time of up to an hour and they don't take reservations so I'd recommend a late lunch/ early dinner around 4-5pm in order to secure a table. Or you could even just head there for happy hour which is between 4pm-6pm and sip all the cocktails before dinner that evening.


Accommodation Tip: The Bayhaven Lodge has adorable rooms some of which have access to the garden. My room was spotless and decorated beautifully in a Byron style, the Bayhaven Lodge is around a 5 minute walk to the main road of shops and restaurants in Byron Bay and it's in an ideal location for anyone travelling with a car or van as there is free on street parking just 100metres away.

 </p>
