---
img: /images/.JPG
img_alt:
location: Cairns
activity: Diving the Great Barrier Reef
text: |
  Whether you have dived before or not you’re on the Great Barrier Reef and you should definitely give it a go. You can book guided dives if your PADI certified or discovery dives if you have never dived before. A discovery dive will cost around $240 for a full day on the reef and you will be able to dive to 6metres and get a feel for life on the reef. Look out for trtles, stingers and possible even some reef sharks. <a target="_blank" href="www.divingcairns.com.au/daytrips-cairns"> Gairns Diving</a>   For those of you who are experienced divers you can also book full day tours on the reef.
---

<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<img class="card" src="/images/.JPG" alt="">
<p> <span> Location: </span> Cairns </p>
<p> <span>Activity:</span> Diving the Great Barrier Reef</p>
<p> Whether you have dived before or not you’re on the Great Barrier Reef and you should definitely give it a go. You can book guided dives if your PADI certified or discovery dives if you have never dived before. A discovery dive will cost around $240 for a full day on the reef and you will be able to dive to 6metres and get a feel for life on the reef. Look out for trtles, stingers and possible even some reef sharks. <a target="_blank" href="https://www.divingcairns.com.au/daytrips-cairns"> Gairns Diving</a>   For those of you who are experienced divers you can also book full day tours on the reef.
 </p>
</div>
