---
title: Cairns-Diving-Great-Barrier-Reef
img: /images/.JPG
img_alt:
location: Cairns
activity: Diving the Great Barrier Reef
text: |
  Whether you have dived before or not you’re on the Great Barrier Reef and you should definitely give it a go. You can book guided dives if your PADI certified or discovery dives if you have never dived before. A discovery dive will cost around $240 for a full day on the reef and you will be able to dive to 6metres and get a feel for life on the reef. Look out for turtles, stingers and possible even some reef sharks. <a target="_blank" href="www.divingcairns.com.au/daytrips-cairns"> Cairns Diving</a>   For those of you who are experienced divers you can also book full day tours on the reef.
---
