---
img: /images/.JPG
img_alt:
location: Glass House Mountains
activity: Hiking
text: There are lots of different mountains to climb here so make sure you check the difficulty of each mountain before you decide which one is best for you. Make sure you have everything you need before you set off, including water and suitable shoes. Take my advice and DO NOT do any of these in flip flops (thongs) because even one of the easiest mountains will be impossible.
The below website has some great information about the different walking tracks and the difficulty levels of each of the mountains.
<a target="_blank" href="https://parks.des.qld.gov.au/parks/glass-house-mountains/about.html#summit_routes"> Glass House Mountains </a>
One example is Mount Beerburrum which is one of the less extreme mountains to climb and I have to say it is still extremely steep however it is one of the shorter climbs. I recommend getting to the top in time for sunset as the views are incredible. If you decide to climb Mount Beerburrum then I would recommend starting the climb an hour before sunset to allow you plenty of time to get to the top.
Before you set off make sure you check mountain closures online as currently some of the mountains are closed for resurfacing.
The Glass HOuse Mountains are easily accessed on the train from Brisbane towards Noosa or vice versa. THe reason I suggested Mount Beerburrum is because you can get off the train at Beerburrum station and it's around a 10 minute walk to the bottom of the mountain. the trains come every 1-1.5hours so make sure you time the trains that you plan to catch to continue your journey as there isn't anywhere else to go around the station.  If you are travelling with suitcases I wouldn't recommend doing the hike unless you have accomodation to leave your belongings at.
---

<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<img class="card" src="/images/.JPG" alt="hidden beach entrance. Stairs leading down to an empty beach.">
<p> <span> Location: </span> Glass House Mountains </p>
<p> <span>Activity:</span> Hiking </p>
<p> There are lots of different mountains to climb here so make sure you check the difficulty of each mountain before you decide which one is best for you. Make sure you have everything you need before you set off, including water and suitable shoes. Take my advice and DO NOT do any of these in flip flops (thongs) because even one of the easiest mountains will be impossible.
The below website has some great information about the different walking tracks and the difficulty levels of each of the mountains.
<a target="_blank" href="https://parks.des.qld.gov.au/parks/glass-house-mountains/about.html#summit_routes"> Glass House Mountains </a>
One example is Mount Beerburrum which is one of the less extreme mountains to climb and I have to say it is still extremely steep however it is one of the shorter climbs. I recommend getting to the top in time for sunset as the views are incredible. If you decide to climb Mount Beerburrum then I would recommend starting the climb an hour before sunset to allow you plenty of time to get to the top.
Before you set off make sure you check mountain closures online as currently some of the mountains are closed for resurfacing.
The Glass HOuse Mountains are easily accessed on the train from Brisbane towards Noosa or vice versa. THe reason I suggested Mount Beerburrum is because you can get off the train at Beerburrum station and it's around a 10 minute walk to the bottom of the mountain. the trains come every 1-1.5hours so make sure you time the trains that you plan to catch to continue your journey as there isn't anywhere else to go around the station.  If you are travelling with suitcases I wouldn't recommend doing the hike unless you have accomodation to leave your belongings at.
 </p>
</div>
