<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<p> <span> Location: </span>Gold Coast </p>
<p> <span>Activity:</span> Theme Parks </p>
<p> THEME PARKS! Byron is around an hour from the Gold Coast theme parks so why would you not take at least one day to check out these parks. I'm not a huge theme park fan but Movie World was pretty cool plus there are loads of other parks to choose from depending on what you enjoy. The parks open at 9:30am however the rides don't start until 10am so it's handy to get there early and get in line for the first ride of the day to make sure you can do as much as possible. The best part is as the time zone is an hour behind you actually gain an hour when crossing the border meaning if you leave Byron at 9am you'll get to movie world at 9am, it's like magic!
If you are looking to get to Byron from the Gold Coast Airport the Skybus operates every 2 hours with a one way trip at just $28 for the 55minute journey which is much cheaper than any of the taxi's available. It's worth checking the timetable in advance as you may find yourself just missing a shuttle and having to wait 2 hours.
https://www.skybus.com.au/byron-bay-express/timetable/
 </p>
</div>
