---
img: /images/kangaroo1.JPG
img_alt: Blonde girl holding a Kangaroo's paw and hand feeding it.
location: Gold Coast
activity: Burleigh Heads and Currumbin National Park
text: Burleigh Heads is the trendiest spot on the Gold Coast. Beautiful yet quiet beaches and a great atmosphere. Burleigh is a great spot to spend a night and relax mid way through your trip.
You can visit Currumbin wildlife centre to cuddle a koala and feed the karangaroo’s for a really reasonable price. Or if you just want to explore you you can visit Currumbin which is a small surf town, again with pretty beaches and coffee shops.
In the evening head to Burleigh pavilion for some nightlife. It has a great sunset spot on the water so soak up all the beach vibes.
< a target="_blank" href="https://www.skybus.com.au/byron-bay-express/timetable/"> Sky bus </a>
---


<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<img class="card" src="/images/kangaroo1.JPG" alt="Blonde girl holding a Kangaroo's paw and hand feeding it.">
<p> <span> Location: </span>Gold Coast </p>
<p> <span>Activity:</span> Burleigh Heads and Currumbin National Park </p>
<p> Burleigh Heads is the trendiest spot on the Gold Coast. Beautiful yet quiet beaches and a great atmosphere. Burleigh is a great spot to spend a night and relax mid way through your trip.
You can visit Currumbin wildlife centre to cuddle a koala and feed the karangaroo’s for a really reasonable price. Or if you just want to explore you you can visit Currumbin which is a small surf town, again with pretty beaches and coffee shops.
In the evening head to Burleigh pavilion for some nightlife. It has a great sunset spot on the water so soak up all the beach vibes.
< a target="_blank" href="https://www.skybus.com.au/byron-bay-express/timetable/"> Sky bus </a>
 </p>
</div>
