<h2> DAY {{ forloop.index }} ITINERARY </h2>
<p> <span> Location: </span>Melbourne </p>
<p> Mornington Peninsula </p>
<p> If you still have access to a car you could drive to Mornington Peninsula and spend a day at the Hot Springs. You can get a day pass to enjoy the springs or if you want to treat yourself you could book a spa package. https://www.peninsulahotsprings.com/experiences/bathe/
If you are missing the East Coast beaches you can drive to Mount Martha beach which is on the Mornington Peninsula. A really private beach just passed the main town of Frankston. </p>
