---
img: /images/.JPG
img_alt:
location: Melbourne
activity: Yarra Valley Day Trip
text: Yarra Valley Wine Tours go to different wineries, the chocolate factory and also provide lunch. https://www.getyourguide.co.uk/melbourne-l202/yarra-valley-gourmet-tour-t28836/ 
---


<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<p> <span> Location: </span>Melbourne </p>
<p> <span>Activity:</span> Yarra Valley Day Trip </p>
<p> Yarra Valley Wine Tours go to different wineries, the chocolate factory and also provide lunch. https://www.getyourguide.co.uk/melbourne-l202/yarra-valley-gourmet-tour-t28836/ </p>
</div>
