<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<p> <span> Location: </span> Melbourne </p>
<p> <span>Activity:</span> Tour the City </p>
<p> Arrive in Melbourne and spend the day in the City. Have a walk along the Graffiti Laneways, for example Hosier Lane, Degraves Street or Caledonian Lane.
Take the tram to St Kilda to visit Melbourne’s closest beach (Very different to the beaches on the East Coast). Whilst your here check out Luna Park!
Back in the City check out the view from above at the Eureka skydeck.
In the evening head to Curtin House Rooftop Bar to experience Melbourne nightlife. Melbourne is known for its cool bars and coffee shops. As it’s your first day in Aus take it easy but keep busy so you can stay up until a reasonable hour which will help you adjust to the jet lag.  
 </p>
</div>
