<div class="bg-image-paper">
<h2> DAY {{ forloop.index }}  </h2>
<p> <span> Location: </span>Sydney</p>
<p> <span>Activity:</span> Spit to Manly Coastal Walk </p>
<p> Spit to Manly Coastal walk.
The walk takes between 2.5-3hours and the terrain is overall pretty flat with a hand full of small inclines. You can take either the 178 or 180 bus from Wynyard station (check this using google maps before you leave as alternate bus routes may be available depending on the time of day) to Spit West Reserve I.e the start of the Spit bridge. The coastal walk starts on the seaboard side of the bridge.(walk across the bridge and the path is on the left hand side. It’s a fairly easy walk but wear walking shoes as it’s 10km. Also make sure you take plenty of water as there is only 1 cafe along the path, around 30-45mins from the start. The walk has lots of beautiful beaches and view points across the harbour.
At the end of the walk you will arrive at Manly Wharf. I recommend either the Manly Hotel or the Manly Skiff for lunch. Both are on the waterfront and have good food/cocktails. If you’re looking for something cheaper try Betty’s Burgers at the Ferry terminal. Spend the afternoon at the Manly Main beach (This is not the beach you see when you first arrive, it’s a few minutes walk) or shop along the highstreet. There are loads of great bikini stores here.
Take the Ferry from Manly wharf back to Circular Quay. If you go on a Sunday travel is capped at $2.80. Ferry takes around 30minutes.
<a target="_blank" href="https://manlyskiff.com.au/manly-dining"> Manly Skiff </a>
<a target="_blank" href="http://manlywharfhotel.com.au/"> Manly Wharf Hotel</a>
<a target="_blank" href="https://www.bettysburgers.com.au/"> Betty's Burgers </a> </p>
</div>
