<h2> DAY {{ forloop.index }} ITINERARY </h2>
<p> Sydney</p>
<p> Blue Mountains Day Trip </p>
<p> Blue mountains day trip. Visit Wentworth falls and 3 sisters rocks as these are the main tourist spots. You can get a train into the Blue Mountains from Central station and explore these places via a self guided Hop on hop off tour that can show you around the Blue Mountains via a bus or the skyrailway. https://www.getyourguide.co.uk/blue-mountains-l1122/blue-mountains-explorer-bus-and-scenic-world-pass-t69801/

Or alternatively you can book a guided tour to pick you up from Sydney. This includes the three sisters rock, the scenic sky railway and a guided bush walk as well as a lunch.
https://www.viator.com/en-AU/tours/Sydney/All-Inclusive-Blue-Mountains-Small-Group-Day-Trip-from-Sydney/d357-22584P1 </p>
