  <h2> DAY {{ forloop.index }} </h2>
  <p> <span> Location: </span>Sydney</p>
  <p> <span>Activity:</span> Beach Day and Coastal Walk </p>
  <p> Bondi to Coogee coastal walk 1.5hours
If you’re not pushed for time I’d recommend stopping at a few different beaches and make a day of it. My personal favourite stops are Gordons Bay and Tamara. You’ll also want to do the Bondi Icebergs (sea pools) as it’s a bit of a tourist spot. Bondi and Coogee are the largest of the beaches and you will find restaurants for breakfast or lunch at either end. Coogee Bay beach Hotel has a great atmosphere for afternoon drinks.
You will find a cafe at Tamara that does Milkshakes and light lunches or smoothies and fish and chips from the beach hut at Bronte.

Coogee Pavilion is a good spot for a night out if you’re looking for a dance floor! </p>
