---
layout: default
banner-image: /images/rottnest.JPG
---

{% include fixed-banner.html %}



<section class="grid hidden">
  <div class="col-6">
    <div class="image1"> <img class="padding-bottom "src="/images/me.JPG" alt="Founder of Plan My Travels">
    </div>
  </div>
  <div class="col-6_md-12 mobile-init padded card bg-colorblue bump-left center ">

    <h2 class="padding-bottom center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  "> Who is behind the scenes </h2>
    <p class="center "> Plan My Travels was founded myself, Maria Reynolds, a budding traveller from the UK. I travelled to Australia 3 times before eventually moving to Sydney. </p>
    <p>When first travelling to Australia I had been working long hours, giving me little time to plan and had I just 3 weeks to squeeze in everything I wanted to do on the East Coast, thinking at the time that it would be my only trip across the world so I wanted to make the most of it. No matter how much research you do it’s so hard to work out what parts you should prioritise, as Australia is such a huge country, so my aim was to create something that would help travellers in a similar situation. </p>
    <p class="center">Plan My Travels has been designed to select a route and itinerary that will be perfect for each customer, based on locations I have visited and can personally recommend. I identify a customers preferences and make sure they are seeing as much as possible and not missing out on any little gems I have discovered on my travels.</p>
    <!-- <p class="center padding-bottom">I have a good understanding of travelling on a budget so these itineraries are aimed to be affordable to purchase but they also offer activities that are affordable and well researched to ensure customers are getting the best deals. </p> -->

  </div>
</section>

<section class="grid mobilevisible">
  <div class="col-12">
    <div class="image1"> <img class="padding-bottom "src="/images/me.JPG" alt="Founder of Plan My Travels">
    </div>
  </div>
  <div class="col-12 mobile-init padded card bg-colorblue  center ">

    <h2 class="padding-bottom center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  "> Who is behind the scenes </h2>
    <p class="center "> Hi I'm Maria, a budding traveller from the UK. I travelled to Australia 3 times before eventually moving to Sydney. </p>
    <p>When first travelling to Australia I had been working long hours, giving me little time to plan and I had just 3 weeks to squeeze in everything I wanted to do on the East Coast, thinking at the time that it would be my only trip across the world so I wanted to make the most of it. No matter how much research you do it’s so hard to work out what parts you should prioritise, as Australia is such a huge country, so my aim was to create something that would help travellers in a similar situation. </p>
    <p class="center">Plan My Travels has been designed to select a route and itinerary that will be perfect for each customer, based on locations I have visited and can personally recommend. I identify a customers preferences and make sure they are seeing as much as possible and not missing out on any little gems I have discovered on my travels.</p>
    <p class="center padding-bottom">I have a good understanding of travelling on a budget so these itineraries are aimed to be affordable to purchase but they also offer activities that are affordable and well researched to ensure customers are getting the best deals. </p>

  </div>
</section>

<section class=" margin-bottom7">
  <div>
  <dl class="accordion light-bg padded-1">

    <h2 class=" center margin-bottom" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      position:relative;
      ">
      FAQ's
      <hr class="blueline ">
    </h2>

    <dt><a href=""><h2 class="bluecard"> What does Plan My Travels do?</h2></a></dt>
    <dd><p class="padded">Plan My Travels explores destinations all over Australia (and more countries in the pipeline) showing off the best of each location. Once you have selected which locations appeal to you, you will submit your preferences and will then be sent a full itinerary for your own trip. Plan My Travels bespoke itineraries are designed around the locations you’d like to visit, how long you’re traveling for and your personal interests.</p></dd>

    <dt><a href=""><h2 class="bluecard">Why would I use Plan My Travels?</h2></a></dt>
    <dd><p class="padded">Are you looking to travel a country you know nothing about? Planning a trip with no ideal start or finishing point? Or are you simply working long hours and don’t have the time to do your research but you also don’t want to miss out on anything. Plan my travels was born to fill that void. Pick out all the places you want to visit and the activities you enjoy and we will build your itinerary to make sure you aren't missing anything. We all hate FOMO!</p></dd>

    <dt><a href=""><h2 class="bluecard">What's included in my itinerary?</h2></a></dt>
    <!-- <div class="padded"> -->

    <dd><p class="">The itinerary will give you a plan for each day of your trip. We like to cover all the must see landmarks as well as hidden gems you wouldn't have otherwise come across. The itinerary will detail how to get to each location depending on the modes of transport you select and will also give you tips on the area such as popular restaurants and links to nearby attractions.</p>
    <p >Each location you select you will be given hotel recommendations, tips on the area, best transport options and restaurants will be recommeneded for each day. </p>
    <p > To cater to all taste we recommend a range of different accommodations and restaurants </p></dd>
    <!-- </div> -->
    <dt><a href=""><h2 class="bluecard">What's the process?</h2></a></dt>
    <dd><p class="padded">Complete a quick questionnaire about your desired trip and you will recieve an email in 48 hours with a quote. If you are happy to go ahead you will receive a link to your own personalised login page detailing your trip day by day. It’s as simple as that.</p></dd>

    <dt><a href=""><h2 class="bluecard"> How much can I expect to pay for an itinerary?</h2></a></dt>
    <dd><p class="padded"> Itinerary's start from just $30/ £15 per week. As each itinerary is bespoke you will be sent a quote once you've completed your preferences and if you are happy to go ahead you will be sent a payment request and login details for your own personal login page with your itinerary. </p></dd>

    <dt><a href=""><h2 class="bluecard">Can I give more information to tailor my trip?</h2></a></dt>
    <dd><p class="padded">If you have more questions you are welcome to use the additional comments box when submitting your travel preferences for a quote and we will come back to you to help your with your plans as best as we can.</p></dd>

    <dt><a href=""><h2 class="bluecard">Can you provide an itinerary for locations that aren't on the site?</h2></a></dt>
    <dd><p class="padded"> Yes we can! If you have a location within Australia that you would like to visit but it isn't one of the selections then feel free to pop us a message in the additional comments box before you submit your request and we will come back to you with the quote. </p></dd>

    <dt><a href=""><h2 class="bluecard">How long does it take to get an itinerary?</h2></a></dt>
    <dd><p class="padded"> You will be sent a quote within 48hours after submiting your preferences. You will also recieve a link to payment, once you have made payment you will be sent the link to your personal login page which contains your itinerary  </p></dd>
    <!-- <dt><a href=""><h2 class="bluecard">Can I contact you to find out more?</h2></a></dt>
    <dd><p class="padded">If you have more questions you are welcome to email us at XXXXXXX  and we will come back to you within 48hours.</p></dd> -->

  </dl>
  </div>
</section>

<section class="center margin-bottom7 bg-image-pinkbeachbottom padding-top-15 bg-color nopaddingbottom comment-box-fix">
<div class="paddingnone">
  <h2>Let's do this</h2>
  <p>Complete a short questionnaire to help more personalise your trip...</p>

</div>

{% include click-to-action.html %}


</section>
<section class="margin-bottom7">

</section>
