---
layout: default
banner-image: /images/rottnestisland.JPG
---

{% include fixed-banner.html %}


<section class=" margin-bottom7">
  <div>
  <dl class="accordion light-bg padded-1">

    <h2 class=" center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      position:relative;
      ">
      FAQ's
      <hr class="blueline">
    </h2>

    <dt><a href=""><h2 class="bluecard"> What does Plan My Travels do?</h2></a></dt>
    <dd><p class="padded">Plan my travels explores destinations all over Australia (and more countries in the pipeline) showing off the best of each location. Once you have selected which locations appeal to you, you will submit your preferences and will then be sent a full itinerary for your own trip. Plan My Travels bespoke itineraries are designed around the locations you’d like to visit, how long you’re traveling for and your personal interests.</p></dd>

    <dt><a href=""><h2 class="bluecard">Why would I use Plan My Travels?</h2></a></dt>
    <dd><p class="padded">Are you looking to travel a country you know nothing about? Planning a trip with no ideal start or finishing point? Or are you simply working long hours and don’t have the time to do your research but you also don’t want to miss out on anything. Plan my travels was born to fill that void.</p></dd>

    <dt><a href=""><h2 class="bluecard">What's included in my itineray?</h2></a></dt>
    <dd><p class="padded">The itinerary will give you a plan for each day of your trip. We like to cover all the must see landmarks as well as hidden gems you wouldn't have otherwise come across. The itinerary will detail how to get to each location depending of the modes of transport you select and will also give you tips on the area such as popular restaurants and links to nearby attractions.</p></dd>

    <dt><a href=""><h2 class="bluecard">What's the process?</h2></a></dt>
    <dd><p class="padded">Complete a quick questionnaire about your desired trip and you will recieve an email in 24 hours with a quote. If you are happy to go ahead you will receive a link to your own personalised login page detailing your trip day by day. It’s as simple as that.</p></dd>

    <dt><a href=""><h2 class="bluecard">How do you create a bespoke itinerary?</h2></a></dt>
    <dd><p class="padded">Answer just 9 short questions to allow us to customise an itinerary that will not only point out where you should visit during your stay but also how to get from A to B and also tips on restaurants and hotels along the way. </p></dd>

    <dt><a href=""><h2 class="bluecard">Can I give more information to tailor my trip?</h2></a></dt>
    <dd><p class="padded">If you have more questions you are welcome you use the additional comments box when submitting your travel preferences for a quote and we will come back to you to help your with your plans as best as we can.</p></dd>

  </dl>
  </div>
</section>

<section class="center margin-bottom7 bg-image-pinkbeachbottom padding-top-15 bg-color nopaddingbottom comment-box-fix">
<div class="paddingnone">
  <h2>Let's do this</h2>
  <p>Complete a short questionnaire to help more personalise your trip...</p>

</div>

{% include click-to-action.html %}


</section>
<section class="margin-bottom7">

</section>
