---
layout: default
banner-image: /images/noosasurf.JPG
block:
  - id: mel.html
  - id: sydney.html
---

<!----------- THIS IS THE INFO WINDOW------ -->
<section class="grid-spaceAround  padded padding-bottom">
  <div class="col-5_md-12 padded bg-colorblue margin-bottom  card media">
    <h2 class="padding-bottom center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  "> What to expect</h2>
    <p>Plan My Travels offers bespoke itineraries, designed around the length of time you plan on travelling, your travelling style preferences and the locations you select. You will receive a link to your own personalised login page detailing your trip day by day. It’s as simple as that. If you have more questions you are welcome you use the additional comments box when submitting your travel preferences for a quote and we will come back to you to help your with your plans as best as we can.  </p>
  </div>
  <!-- <div class="col-12_md-12 mobile-init padded media bg-colorblue card">
    <img class="padding-bottom"src="/images/mariareynolds.jpg" alt="Founder of Plan My Travels">
    <h2 class="padding-bottom center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  "> Who is behind the scenes </h2>
    <p> </p>
    <h2 class="padding-bottom center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  "> What do we do? </h2>
    <p> Plan my travels explores destinations all over Australia (and more countries in the pipeline) showing off the best of each location. Once you have selected which locations appeal to you you will submit your preferences and will then be sent a full itinerary for your own trip. </p>
  </div> -->
  <div class="col-5_md-12 padded bg-colorblue margin-bottom card media">
    <h2 class="padding-bottom center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  "> Why use Plan My Travels </h2>
    <p>Are you looking to travel a country you know nothing about? Starting a trip with no ideal start or finishing point? Or are you simply working long hours and don’t have the time to do your research but you also don’t want to miss out on anything. Plan my travels was born to fill that void. This website will create custom itineraries for your trip based on the locations you’d like to visit, how long you’re staying and you personal interests. Answer just 9 short questions to allow us to customise a bespoke itinerary that will not only point out where you should visit during your stay but also how to get from A to B and also a few tips on restaurants and hotels along the way. All destinations have been personally visited by the founder of Plan My Travels meaning these locations have been hand picked and are considered worthy of a visit.</p>
  </div>
  <div class="col-7_md-12 mobile-init padded media bg-colorblue card">
    <div class="image1"> <img class="padding-bottom "src="/images/mariareynolds.jpg" alt="Founder of Plan My Travels">
    </div>
    <h2 class="padding-bottom center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  "> Who is behind the scenes </h2>
    <p> </p>
    <h2 class="padding-bottom center" style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  "> What do we do? </h2>
    <p> Plan my travels explores destinations all over Australia (and more countries in the pipeline) showing off the best of each location. Once you have selected which locations appeal to you you will submit your preferences and will then be sent a full itinerary for your own trip. </p>
  </div>

</section>

<!-- {% for block in page.block %}
  <!-- {% include block.id.html %}
{% endfor %} -->


<div  class="comment-box">

<a href="#" class="comment-box-text">
   Not ready to book yet? Keep scrolling for more inspo </a>

 </div>

<section class="center bg-image-pinkbeachbottom bg-color comment-box-fix">
<div class=".paddingnone">
  <h2>Let's do this</h2>
  <p>Complete a short questionnaire to help more personalise your trip...</p>

</div>

{% include click-to-action.html %}


</section>


<!-- THIS IS THE REVIEWS -->

<section class="light-bg centered padded">
  <h2 class="center relative" style="
    font-family: 'Lato', sans-serif;
    font-weight: 400;
"> Reviews<hr class="blueline"> </h2>

  <div class="grid-spaceAround padded-1 padding-top bg-blue">

    <div class="col-3_md-12_sm-12 padded bg-white card">
      <div class=" light-bg">
        <!-- <img src="#" class="profile"> -->

        <p class="bg-white">"Maria listened to everything I wanted to do but remained realistic with my expectations and gave reasoning behind choices. She somehow managed to find a way to incorporate all I wanted to do whilst I was in Australia and in an easy to do way. She also recommended so many places that ended up being my favourite that were slightly off the beaten track as well as recommending places to go within areas such as restaurants etc which was very handy. She not only recommended the plan in terms of days and locations but also helped suggest the best routes for each one.</p>

          <div>
            <br>
          <span id="more-text-button"> <p class="more-text"> I wholeheartedly recommend Maria her help was invaluable and made my trip amazing! Without her help I simply wouldn’t have been able to do everything I wanted and see as much as I did"</p>
          </span>
          </div>
        <div class="more-text-button">
            <button id="toggle">Read More</button>
        </div>
        <p class="author  bg-white"> Amanda </p>
        <!-- <span> &#9733; &#9733; &#9733; &#9733; &#9733; </span> -->
      </div>
    </div>

    <div class="col-3_md-12_sm-12 padded bg-white card">
      <div class=" light-bg">


        <p>"Me and my bf are heading to aus for 6 weeks! it’s our first time and we were both feeling a little overwhelmed and totally clueless about what we should spend our time doing/where we should go etc. Maria’s advice has been absolutely priceless, not only have we been able to map out our route with her guidance, but with her own experience she’s opened our eyes to places that we would’ve otherwise never have thought of going to. Now we are excited, chilled and can’t wait to live all of her recommendations. Thank you Maria, we can’t thank you enough!"
      </p>
      <p class="author"> Sophie & Luke </p>

      </div>
    </div>

    <div class="col-3_md-12_sm-12 padded bg-white card">
      <div class="light-bg">


        <p class="company"> EON </p>
        <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="author"> Emilio </p>
      </div>
    </div>

</section>


<!-- -------- THIS IS THE  HOVER GALLERY -------->

<section class="padded center padding-top">

  <h2 class="relative padding-top hidden" style="
    font-family: 'Lato', sans-serif;
    font-weight: 400;
"> Gallery<hr class="blueline"> </h2>



    <div class="popup-gallery grid-center padding-top added-1">

      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
        <a class="" href="/images/camp-cove-beach.jpg" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>

        <img class="bg-image" src="/images/camp-cove-beach.jpg">
      </a>
      </div>

      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="" href="/images/huskissonsbeach.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Jervis Bay </h3>
        </div>
        <img class="bg-image" src="/images/huskissonsbeach.JPG">
      </a>
      </div>


      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="" href="/images/bluemountainsmaria.JPG" title="this is where you write the caption">

      <div class="lightboxhover">
        <h3> Blue Mountains </h3>
      </div>
      <img class="bg-image" src="/images/bluemountainsmaria.JPG">
    </a>
    </div>


      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="" href="/images/gordonsbay.JPG" title="this is where you write the caption">
      <div class="lightboxhover">
        <h3> Sydney </h3>
      </div>
      <img class="bg-image" src="/images/gordonsbay.JPG">
    </a>
    </div>



      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="" href="/images/wategosbeach.JPG" title="this is where you write the caption">

      <div class="lightboxhover">
        <h3> Byron Bay </h3>
      </div>
      <img src="/images/wategosbeach.JPG">
    </a>
    </div>


      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="col-3_sm-6_xs-12" href="/images/greatoceanroad.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Great Ocean Road </h3>
        </div>
        <img class="bg-image" src="/images/greatoceanroad.JPG">
        </a>
        </div>


      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="" href="/images/noosafairypools.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Noosa </h3>
        </div>
        <img class="bg-image" src="/images/noosafairypools.JPG">
      </a>
      </div>


      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="c" href="/images/kangaroo1.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Gold Coast </h3>
        </div>
        <img class="bg-image" src="/images/kangaroo1.JPG">
      </a>
      </div>


      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="" href="/images/spittomanly.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>
        <img class="bg-image" src="/images/spittomanly.JPG">
      </a>
      </div>

      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="" href="/images/tomareemountain.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Newcastle </h3>
        </div>
        <img class="bg-image" src="/images/tomareemountain.JPG">
      </a>
      </div>


      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="col-3_sm-6_xs-12" href="/images/noosasurf.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Noosa </h3>
        </div>
        <img class="bg-image" src="/images/noosasurf.JPG">
      </a>
      </div>

      <div class="col-3_sm-6_xs-hidden lightboxcontainer">
      <a class="col-3_sm-6_xs-12" href="/images/rottnestisland.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Rottnest Island </h3>
        </div>
        <img class="bg-image" src="/images/rottnestisland.JPG">
      </a>
      </div>


    </div>

</section>

<!---------- THIS IS THE FOOTER ------ -->
