---
layout: default
banner-image: /images/whitsundays-view-cropped.jpg
block:
  - id: mel.html
  - id: sydney.html
---

<!----------- THIS IS THE INFO WINDOW------ -->
<section class="grid-spaceAround padded">
  <div class="col-3_md-12 padded card">
    <h2> What I do </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-3_md-12 padded card">
    <img src="/images/mariareynolds.jpg" alt="Founder of Plan My Travels">
    <h2> Who is behind the scenes </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
  </div>
  <div class="col-3_md-12 padded card">
    <h2> Why use Plan My Travels </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt c ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

<!-- {% for block in page.block %}
  <!-- {% include block.id.html %}
{% endfor %} -->


<div  class="comment-box">

<a href="#" class="comment-box-text">
   Not ready to book yet? Keep scrolling for more inspo </a>

 </div>

<section class="center padded bg-color comment-box-fix">


{% include click-to-action.html %}


</section>


<!-- THIS IS THE REVIEWS -->

<section class="light-bg centered padded">
  <h2 class="center relative"> Reviews<hr class="blueline"> </h2>
  <hr>
  <div class="grid-spaceAround padded-1 bg-blue">

    <div class="col-3_md-12 padded bg-white card">
      <div class=" light-bg">
        <!-- <img src="#" class="profile"> -->
        <p class="author  bg-white"> Amanda </p>
        <p class="bg-white">"Maria listened to everything I wanted to do but remained realistic with my expectations and gave reasoning behind choices. She somehow managed to find a way to incorporate all I wanted to do whilst I was in Australia and in an easy to do way. She also recommended so many places that ended up being my favourite that were slightly off the beaten track as well as recommending places to go within areas such as restaurants etc which was very handy. She not only recommended the plan in terms of days and locations but also helped suggest the best routes for each one. I wholeheartedly recommend Maria her help was invaluable and made my trip amazing! Without her help I simply wouldn’t have been able to do everything I wanted and see as much as I did"</p>
        <!-- <span> &#9733; &#9733; &#9733; &#9733; &#9733; </span> -->
      </div>
    </div>

    <div class="col-3_md-12 padded bg-white card">
      <div class=" light-bg">

        <p class="author"> Sophie & Luke </p>
        <p>"Me and my bf are heading to aus for 6 weeks! it’s our first time and we were both feeling a little overwhelmed and totally clueless about what we should spend our time doing/where we should go etc. Maria’s advice has been absolutely priceless, not only have we been able to map out our route with her guidance, but with her own experience she’s opened our eyes to places that we would’ve otherwise never have thought of going to. Now we are excited, chilled and can’t wait to live all of her recommendations. Thank you Maria, we can’t thank you enough!"
      </p>

      </div>
    </div>

    <div class="col-3_md-12 padded bg-white card">
      <div class="light-bg">

        <p class="author"> Emilio </p>
        <p class="company"> EON </p>
        <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

      </div>
    </div>

</section>


<!-- -------- THIS IS THE  HOVER GALLERY -------->

<section class="padded center ">

  <h2 class="relative"> Gallery<hr class="blueline"> </h2>



    <div class="popup-gallery grid-center padded-1">

      <div class="col-3_sm-6_xs-12 lightboxcontainer">
        <a class="" href="/images/camp-cove-beach.jpg" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>

        <img class="bg-image" src="/images/camp-cove-beach.jpg">
      </a>
      </div>

      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="" href="/images/Huskissons.jpg" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Jervis Bay </h3>
        </div>
        <img class="bg-image" src="/images/Huskissons.jpg">
      </a>
      </div>


      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="" href="/images/bluemountainsmaria.JPG" title="this is where you write the caption">

      <div class="lightboxhover">
        <h3> Sydney </h3>
      </div>
      <img class="bg-image" src="/images/bluemountainsmaria.JPG">
    </a>
    </div>


      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="" href="/images/gordonsbay.JPG" title="this is where you write the caption">
      <div class="lightboxhover">
        <h3> Sydney </h3>
      </div>
      <img class="bg-image" src="/images/gordonsbay.JPG">
    </a>
    </div>



      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="" href="/images/wategosbeach.JPG" title="this is where you write the caption">

      <div class="lightboxhover">
        <h3> Sydney </h3>
      </div>
      <img src="/images/wategosbeach.JPG">
    </a>
    </div>


      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="col-3_sm-6_xs-12" href="/images/greatoceanroad.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>
        <img class="bg-image" src="/images/greatoceanroad.JPG">
        </a>
        </div>


      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="" href="/images/noosa-fairy-pools.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>
        <img class="bg-image" src="/images/noosa-fairy-pools.JPG">
      </a>
      </div>


      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="c" href="/images/Kangaroo.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>
        <img class="bg-image" src="/images/Kangaroo.JPG">
      </a>
      </div>


      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="" href="/images/spittomanly.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>
        <img class="bg-image" src="/images/spittomanly.JPG">
      </a>
      </div>

      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="" href="/images/Tomaree-mountain.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>
        <img class="bg-image" src="/images/Tomaree-mountain.JPG">
      </a>
      </div>


      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="col-3_sm-6_xs-12" href="/images/Noosa-surf.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>
        <img class="bg-image" src="/images/Noosa-surf.JPG">
      </a>
      </div>

      <div class="col-3_sm-6_xs-12 lightboxcontainer">
      <a class="col-3_sm-6_xs-12" href="/images/rottnestisland.JPG" title="this is where you write the caption">
        <div class="lightboxhover">
          <h3> Sydney </h3>
        </div>
        <img class="bg-image" src="/images/rottnestisland.JPG">
      </a>
      </div>


    </div>

</section>

<!---------- THIS IS THE FOOTER ------ -->
