---
layout: default
banner-image: /images/whitsundays-view.jpg
country:
- select: Australia
- select: More to come!
days:
- select: 1
- select: 2
- select: 3
- select: 4
- select: 5
- select: 6
- select: 7
- select: 8
- select: 9
- select: 10
- select: 11
- select: 12
- select: 13
- select: 14
- select: 15
- select: 16
- select: 17
- select: 18
- select: 19
- select: 20
- select: 21
- select: 22
- select: 23
- select: 24
- select: 25
- select: 26
- select: 27
- select: 28
- select: 29
- select: 30
- select: 31
- select: 32
- select: 33
- select: 34
- select: 35
- select: 36
- select: 37
- select: 38
- select: 39
- select: 40
- select: 41
- select: 42
- select: 43
- select: 44
- select: 45
- select: 46
- select: 47
- select: 48
- select: 49
- select: 50

stops:
- select: Adelaide
- select: Great Ocean Road
- select: melbourne
- select: Canberra
- select: Jervis Bay
- select: Woollongong
- select: Sydney
- select: Central Coast
- select: Newcastle
- select: Byron Bay
- select: Gold Coast
- select: Brisbane
- select: Sunshine Coast
- select: Noosa
- select: Fraser Island
- select: Whitsundays
- select: Airlis Beach
- select: Cairns
- select: Perth
- select: Rottnest Island
- select: Exmouth
transport:
- select: Car Hire
- select: Train
- select: Greyhound Bus
- select: Plane
- select: Bus
activities:
- select: Beach Days
- select: Hiking
- select: Watersports
- select: Museums
- select: History
- select: Animal Encounters
- select: Landmarks
- select: Photography
- select: Sailing

---

<!-- --------This is my map with popouts---------- -->
<section>
  <iframe src="https://snazzymaps.com/embed/219502" width="100%" height="600px" style="border:none;"></iframe>
</section>

<!-- -------- This is my form page ---------------- -->

<form action="https://formspree.io/mariafrancesca@postcardsfrommaria.com" method="POST">

<section class="grid bg-color">

  <div class="col-4_sm-hidden relative">

    <img class="object-fit" src="/images/12apostlessoft.jpg" alt="The 12 Apostles in a light tone">

  </div>
  <div class="col-4_sm-12 padded center">
    <label for="level"> Pick a country </label>
    <select name="level">
      {% for country in page.country %}
      <option required value="{{ country.select }}"> {{ country.select }} </option>

      {% endfor %}
    </select>


  </div>
  <div class="col-4_sm-hidden">

<img src="/images/beachcanoe.jpg" alt="A Canoe resting on a beach">

  </div>
  <div class="col-3_sm-12 padded center">

 <label for="level"> How long are you planning to stay for? (in days) </label>
<select name="level">

{% for days in page.days %}
  <option required value="{{days.select}}"> {{days.select}} </option>
{% endfor %}
</select>

  </div>
  <div class="col-3_sm-hidden">

<img src="/images/bluemountains.jpg" alt="A man admiring the view from a cliff in the Blue Mountains">

  </div>
  <div class="col-3_sm-12 padded center">

<label>  Do you have a starting position?  </label>
<div class="radio checkboxes">
  <label for="starting-yes">YES
  <input type="radio" id=starting-yes name="start" value="YES" /> </label>


  <label for="starting-no">NO
  <input type="radio" id=starting-no name="start" value="NO" /> <label>
</div>

  </div>
  <div class="col-3_sm-hidden">

  <img src="/images/darkapostles.jpg" alt="The 12 Apostles in a light tone">

  </div>

  <div class="col-4_sm-12 padded center">

 <label>  Do you have a finishing position?  </label>
<div class="radio">
  <label for="finishing-yes">YES
  <input type="radio" id=finishing-yes name="finish" value="YES" /> </label>


  <label for="finishing-no">NO
  <input type="radio" id=finishing-no name="finish" value="NO" /> <label>
</div>

  </div>
  <div class="col-3_sm-hidden">

<img src="/images/whitsundays-view.jpg" alt="WhitsundaysIslands">

  </div>
  <div class="col-5_sm-12 padded center">

  <h3> Where would you like to stop?  <h3>
<div class="checkboxes wrap">

{% for stops in page.stops %}
 <label for="{{stops.select}}">{{stops.select}}  <input id="{{stops.select}}" type="checkbox" name="Stops" value="{{stops.select}}" />
 </label>
   {% endfor %}
</div>

  </div>


  <div class="col-5_sm-hidden">

<img src="/images/island.jpg" alt="Skyview of an island peninsula">

  </div>
  <div class="col-3_sm-12 padded center">

     <h3>  What modes of transport do you want to use?  </h3>
     <div class="checkboxes right">
     {% for transport in page.transport %}

    <label for="{{transport.select}}">{{transport.select}}
      <input id="{{transport.select}}"  type="checkbox" name="transport" value="{{transport.select}}" />
      </label>
      {% endfor %}
      </div>
    </div>

  <div class="col-4_sm-hidden">

<img src="/images/operahouse.jpg" alt="Opera House at night time- pink sky">

  </div>


  <div class="col-3_sm-12 padded center">

    <h3>  what activities do you enjoy? </h3>
      <div class="checkboxes right">
    {% for activities in page.activities %}

    <label for="{{activities.select}}"> {{activities.select}}
      <input id="{{activities.select}}" type="checkbox" name="{{activities.select}}" value="{{activities.select}}"/>

    </label>
{% endfor %}
    </div>
    </div>
  <div class="col-3_sm-hidden">

<img src="/images/pinkbeach.jpg" alt="pink beach tones">

  </div>
  <div class="col-4_sm-12 padded center">



      <label for="name"> Your Name </label>
      <input required type="text" name="name" id="name" placeholder="Name" />

      <label for="email"> Your Email </label>
      <input type="email" name="_replyto" required id="email" placeholder="Email" />

<p> <input type="submit" value="Submit for a quote"> </p>

  </div>
  <div class="col-2_sm-hidden">

<img src="/images/pinkbluesand.jpg" alt="pink blue sand">

  </div>
</section>
</form>
