---
layout: default
title: Plan My Travels
description:
banner-image: /images/operahouse.jpg
country:

- select: Australia
- select: More to come!
days:

- select: 1 week
- select: 2 weeks
- select: 3 weeks
- select: 4 weeks
- select: 5 weeks
- select: 6 weeks
- select: 7 weeks
- select: 8 weeks
- select: 9 weeks
- select: 10 weeks
- select: 11 weeks
- select: 12 weeks
stops:
- select: Adelaide
- select: Kangaroo Island
- select: Great Ocean Road
- select: Melbourne
- select: Canberra
- select: Jervis Bay
- select: The Cove
- select: Blue Mountains
- select: Sydney
- select: Central Coast
- select: Newcastle
- select: Byron Bay
- select: Gold Coast
- select: Brisbane
- select: Sunshine Coast
- select: Noosa
- select: Fraser Island
- select: Whitsundays
- select: Airlie Beach
- select: Magnetic Island
- select: Cairns
- select: Perth
- select: Rottnest Island
- select: Exmouth
transport:
- select: Car Hire
- select: Train
- select: Greyhound Bus
- select: Plane
- select: Bus
activities:
- select: Beach Days
- select: Hiking
- select: Watersports
- select: Museums
- select: History
- select: Animal Encounters
- select: Landmarks
- select: Photography
- select: Sailing
- select: Theme Parks
- select: Nightlife
- select: Wineries
start:
- select: Adelaide
- select: Great Ocean Road
- select: Melbourne
- select: Canberra
- select: Jervis Bay
- select: Sydney
- select: Central Coast
- select: Newcastle
- select: Byron Bay
- select: Gold Coast
- select: Brisbane
- select: Sunshine Coast
- select: Noosa
- select: Fraser Island
- select: Whitsundays
- select: Airlie Beach
- select: Cairns
- select: Perth
- select: Exmouth
finish:
- select: Adelaide
- select: Great Ocean Road
- select: Melbourne
- select: Canberra
- select: Jervis Bay
- select: Sydney
- select: Central Coast
- select: Newcastle
- select: Byron Bay
- select: Gold Coast
- select: Brisbane
- select: Sunshine Coast
- select: Noosa
- select: Fraser Island
- select: Whitsundays
- select: Airlie Beach
- select: Cairns
- select: Perth
- select: Exmouth
---

<!-- --------This is my map with popouts---------- -->


{% include fixed-banner.html %}


<section>
  <div class="center hidden">
    <h3 style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;"> Let's start planning your trip </h3>
    <p> Complete the steps below to help us plan an itinerary that is perfect for you! If you're not too sure which locations you want to visit have a look at the destinations on the map to get a feel for what there is to do in each location so you can pick what you'll enjoy most. </p>
    <p>(Use the +/- buttons on the lower right hand corner of the map to help you zoom in and out to get a closer look at each of the locations)</p>
  </div>
  <div class="center mobilevisible">
    <h3 style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;"> Let's start planning your trip </h3>
    <p> Complete the steps below to help us plan an itinerary that is perfect for you! If you're not too sure which locations you want to visit have a look at this website on a desktop where you will be able to see a map with all of the pins explaining a little bit about each location </p>
    <p>Unfortunatley the map of Australia is just too big to be viewed on a mobile!</p>
  </div>

</section>


<section class="map comment box-fix">
  <!-- <div  class="comment-box margin-bottom-7">

  <a href="#" class="comment-box-text">
     Double click the map to zoom in and select the drop pins for more information for each location </a>

   </div> -->
   <div  class="comment-box margin-bottom-7">

   <a href="#" class="comment-box-text">
      Double click the map to zoom in and select the drop pins for more information for each location </a>

    </div>
  <iframe class="mediamap" src="https://snazzymaps.com/embed/219502" width="100%" height="600px" style="border:none;"></iframe>

</section>

<!-- <script type="text/javascript">
  console.log("START");

  $(document).ready(function() {
    console.log("READY");

    $('.map iframe').on('load', function(){
        console.log("MAP LOADED");

        var iframe = $('.map iframe').children();
        console.log(iframe.size());

        iframe.on('DOMNodeInserted', function(){
          console.log("INSERTED");
          window.setTimeout(addImage, 1000);
        });
    });
  });

  function addImage() {
    console.log('Popup text: ' + $('.si-wrapper-top').html());
  }
</script> -->

<!-- -------- This is my form page ---------------- -->

<form action="/success.html" method="POST" target="hidden_iframe">

<section class="">
<div class="">


  <div id="step1"  class="col-5_sm-12-middle-spaceAround  padded bg-image-apostlessoft padded center hiddenform form  relative">
    <div class="formcover  paddingtop50 bg-image-apostlessoft">
      <h3> Step One </h3>
    </div>
    <div class="bg-transparent">


    <h3 class="boldheading" for="level"> Pick a country *</h3>
    <select name="Country placeholder="select one of the below">
      <option value="Please select" selected disabled>Please select</option>
      {% for country in page.country %}
      <option required value="{{ country.select }}"> {{ country.select }} </option>

      {% endfor %}

    </select>
      <a href="#step2" class=" action-button hiddenButton"> Next </a>
    </div>
</div>

  </div>

  <div id="step2" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround card slideinright padded bg-image-beachcanoe form padded center relative">
    <div class="formcover paddingtop50 bg-image-beachcanoe">
      <h3> Step Two </h3>
    </div>
    <div class="bg-transparent">
    <h3 class="boldheading" for="level"> How long are you planning to travel for? * </h3>
    <select name="travellength">
    <option value="Please select" selected disabled>Please select</option>
    {% for days in page.days %}
      <option required value="{{days.select}}"> {{days.select}} </option>
    {% endfor %}
    </select>
    <a href="#step1" class=" action-button"> Previous</a>
    <a href="#step3"  class=" action-button hiddenButton"> Next</a>
    </div>
  </div>

  <div id="step3" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround bg-image-bluemountains slideinleft form padded center relative">
    <div class="formcover paddingtop50 bg-image-bluemountains">
      <h3> Step Three </h3>
    </div>
    <div class="bg-transparent" id="step3" >
    <h3 class="boldheading">  Do you have a starting location? * </h3>
    <div class="radio checkboxes">
      <label for="starting-yes">YES
        <input class="start-location" type="radio"  id=starting-yes name="start" value="YES" />
      </label>
      <label for="starting-no">NO
        <input type="radio" id=starting-no name="start" value="NO" />
      </label>
      <div class="start-question" id="step3_5">
      <h3 class="boldheading" for="level"> Select your starting location *</h3>
      <select name="start-loc">
        <option value="" selected disabled>Please select</option>
       {% for start in page.start %}
         <option  value="{{start.select}}"> {{start.select}} </option>
       {% endfor %}
       </select>
       </div>
       </div>
       <a href="#step2" class=" action-button"> Previous</a>
       <a href="#step4"  class=" action-button hiddenButton"> Next</a>
    </div>
  </div>

  <div id="step4" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround slideinright bg-image-lakemackenzie form padded center relative">
<div class="formcover paddingtop50 bg-image-lakemackenzie">
<h3> Step Four </h3>
</div>
<div class="bg-transparent">
 <h3 class="boldheading">  Do you have a finishing location? * </h3>
<div  class="radio">
  <label for="finishing-yes">YES
  <input class="finish-location" type="radio" id=finishing-yes name="finish" value="YES" /> </label>


  <label for="finishing-no">NO
  <input type="radio" id=finishing-no name="finish" value="NO" /> <label>

    <div class="finish-question" id="step4_5">
      <h3 class="boldheading" for="level"> Select your finishing location *</h3>
    <select  name="finish-loc">
      <option value="" selected disabled>Please select</option>
     {% for finish in page.finish %}
       <option  value="{{finish.select}}"> {{finish.select}} </option>
     {% endfor %}
     </select>
     </div>
</div>
<a href="#step3" class=" action-button"> Previous</a>
<a href="#step5"  class=" action-button hiddenButton"> Next</a>
</div>
  </div>

  <div id="step5" style="margin-left: 0px;" class="col-12_sm-12-middle  bg-image-pinkbeach form slideinleft padded center relative">
<div class="formcover paddingtop50 bg-image-pinkbeach bg-colour-pinkbeach">
<h3> Step Five </h3>
 </div>
<div class="bg-transparent">
  <h3 class="boldheading"> Where would you like to stop? *</h3>
<div class="checkboxes center">

{% for stops in page.stops %}
 <label class="label-container" for="{{stops.select}}"> <input class="buttons buttonsselected "  id="{{stops.select}}" role="button" type="checkbox" style="left" name="Stops" value="{{stops.select}}"/>
<span class="checkmark">{{stops.select}}</span>
 </label>


   {% endfor %}
</div>
<a  href="#step4" class=" action-button"> Previous</a>
<a href="#step6"  class="action-button  hiddenButton"> Next</a>
</div>

  </div>


  <div id="step6" style="margin-left: 0px;" class="col-5_sm-12-spaceAround bg-image-koala1 ready form slideinright center relative">
    <div class="formcover ready paddingtop50 bg-image-koala1 bg-image-paper">
    <h3> Step Six </h3>
  </div>
  <div class="bg-transparent ">
    <h3 class="boldheading">  What modes of transport do you want to use during your trip? * </h3>
    <div class="checkboxes  center">
    {% for transport in page.transport %}


   <label class="label-container" for="{{transport.select}}">
     <input class="buttons buttonsselected " id="{{transport.select}}"  role="button" type="checkbox" style="center" name="transport" value="{{transport.select}}"/>
     <span class="checkmark">{{transport.select}}</span>
     </label>
     {% endfor %}
     </div>
     <a href="#step5" class=" action-button"> Previous</a>
     <a href="#step7"  class=" action-button hiddenButton"> Next</a>
  </div>
  </div>

  <div id="step7" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround bg-image-noosafairypools  slideinleft form  center relative">
    <div class="formcover  bg-image-noosafairypools paddingtop50 bg-image-paper">
    <h3> Step Seven </h3>
  </div>
  <div class="bg-transparent">
    <h3 class="boldheading">  What activities do you enjoy? * </h3>
      <div  class="checkboxes">
    {% for activities in page.activities %}



    <label class="label-container" for="{{activities.select}}">
      <input class="buttons center buttonsselected " id="{{activities.select}}" role="button" type="checkbox" style="center" name="activities" value="{{activities.select}}"/>
      <span class="checkmark">{{activities.select}}</span>
    </label>
  {% endfor %}
    </div>
    <a href="#step6" class=" action-button"> Previous</a>
    <a href="#step8"  class="action-button hiddenButton"> Next</a>
  </div>
  </div>

  <div id="step8" style="margin-left: 0px;" class="col-5_sm-12-spaceAround bg-image-noosasurf form slideinright padded center relative">
    <div class="formcover paddingtop50 bg-image-noosasurf bg-image-paper">
    <h3> Step Eight </h3>
  </div>
  <div class="bg-transparent">
    <h3 class="boldheading" for="message"> Any additional comments that would help us plan your trip... </h3>
    <textarea type="text" name="message" id="message" placeholder="Tell me more!"></textarea>
    <a href="#step7" class=" action-button"> Previous</a>
    <a href="#step9"  class=" action-button"> Next</a>
    </div>

    </div>

  <div id="step9" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround bg-image-byronshops slideinleft form padded center relative">
    <div class="formcover paddingtop50 bg-image-byronshops bg-image-paper">
    <h3> Step Nine </h3>
  </div>
    <div class="bg-transparent">

      <label for="name"> Your Name *</label>
      <input required type="text" name="name" id="name" placeholder="Name" />

      <label for="email"> Your Email * </label>
      <input type="email" name="_replyto" required id="email" placeholder="Email" />

      <label for="name"> Discount Code</label>
      <input  type="text" name="discount" id="discount" placeholder="Discount code" />

      <input type="text" name="_gotcha" style="display: none;">
      <input type="hidden" name="_to" value="mariafrancesca@postcardsfrommaria.com">
       <input type="hidden" name="_cc" value="aussieme@gmail.com">
<p> <input type="submit" value="Submit for a quote"> </p>




<a href="#step8" class=" action-button"> Previous</a>
  </div>

  </div>
<div id="step10" style="margin-left: 0px;" class="form padded center relative">
  <h2 class="fs-title">Thank you for your Enquiry!!</h2>
    <p>We will be in touch with a quote in the next 48hours. </p>
    <p> If you are happy with the quote you will be sent a link to your own personal login where you will find a bespoke itineray tailored to your preferences selected.  </p>

</div>

</section>
</form>
