---
layout: default
title: Plan My Travels
description: Itineraries for your trip around Australia. Plan My Travels creates a bespoke itinerary for travellers exploring the East Coast and more! 
banner-image: /images/operahouse.jpg
country:

- select: Australia

days:

- select: 1 week
- select: 2 weeks
- select: 3 weeks
- select: 4 weeks
- select: 5 weeks
- select: 6 weeks
- select: 7 weeks
- select: 8 weeks
- select: 9 weeks
- select: 10 weeks
- select: 11 weeks
- select: 12 weeks
stops:
- select: Adelaide
  description: Adelaide is South Australia's Coastal Capital. Adelaide offers the Barossa Valley wine region, one of the most famous in Australia, Kangaroo Island and some of the biggest festivals in Australia.
- select: Melbourne
  description: Melbourne is a vibrant City in the South of Australia. It is known for being an artistic city with lots of beautiful graffiti laneways and quirky cafe's and rooftop bars. Melbourne is surrounded by some great locations that are ideal for day trips. A few examples are Philip Islands to see the Penguins or maybe a trip to the Yarra Valley wine region.
- select: Canberra
  description: Canberra is Australia's largest inland city and the eighth-largest city overall. Located between Australia's 2 largest cities, Melbourne and Sydney. Canberra is the capital city of Australia and is home to the nations Parliament house.
- select: Jervis Bay
  description: Jervis Bay is a coastal town around 3 hours South of Sydney. The best place to stay is Huskissons Bay as it offers the most shops and restaurants. The majority of the surrounding is either a National park or secluded beach. The best part about Jervis Bay is the fact its so private, the beaches offer lots of space and are rarely busy, even on public holidays.
- select: The Cove
  description: The Cove is a resort on the Jervis Bay Peninsula that offers Glamping or luxury beach hut accommodation set inside a National Park. Accommodation starts at $230per night. You will need to have a 4WD car to access this experience so bear this in mind if you wish to select this option.
- select: Blue Mountains
  description: The Blue Mountains are roughly an hour and a half outside of Sydney and they are are great place to escape the City. The Blue Mountains offer lots of walking tracks and viewpoints over the valleys as well as small towns and a boutique eateries.
- select: Sydney
  description: Sydney is one of the largest Cities in Australia and it is known for its iconic landmarks, such as the Sydney Harbour Bridge and the Sydney Opera House. Sydney offers the perfect balance of beach life and city life, with some of Australia's most famous beaches being just a 15minute drive from the City. Aside from the tourist hotspots Sydney also offers lots of other activities such as bottomless brunches or hikes in the National park. If you're looking for a relaxing day and a vibrant nightlife Sydney should definitely be on your list.
- select: Central Coast
  description: The Central Coast is around an hour and a half North of Sydney and is home to some very underrated beaches. The resort towns such as Terrigal and Avoca Beach and popular amongst the locals and those looking to get out of the City for a long weekend. Central Coast is a great stop to break up the journey along the Coast.
- select: North Coast
  description: The North Coast stretches from just outside of Sydney up to Tweeds Head, which borders Queensland.  The North Coast has lots of underrated coastal towns that are great road trip stops on your way up and down the East Coast. Some you may have heard of are Newcastle, Port Stephens and Coffs Harbour. The journey from Byron to Sydney takes around 8 hours so you may want to break up the journey with a night or 2 on the North Coast.
- select: Byron Bay
  description: Byron Bay is the hippie hotspot of the East Coast of Australia and it has loads to offer including, surfing, beaches, boutique shops with beautiful clothes and a care free vibe. One of my personal favourite spots.
- select: Gold Coast
  description: The Gold Coast is known for its long stretches of beaches and it's high profile suburbs including Burleigh Heads. The Gold Coast has a wildlife centre that allows you to get up close with the Australian animals as well as Internationally known theme parks.
- select: Brisbane
  description: Brisbane is best known for being that Capital of Queensland. Brisbane has Museums, Science centres and  Art Galleries, as well as Botanical Gardens and a man-made beach on the South Bank. Brisbane offers something for everyone, it's great to have a little bit of City between the coastal towns along the East Coast.
- select: Sunshine Coast
  description: Australia's Sunshine Coast has loads of great places to visit including Costal beach towns, the famous Australia Zoo and the Glass House Mountains. The Sunshine Coast is easily accessible from both Brisbane and Noosa via public transport.
- select: Noosa
  description: Noosa is a boutique beach town, North of the Sunshine Coast Airport, that is full of coffee shops and luxury clothing stores, set amongst sprawling million dollar homes. Hastings street is the main shopping street, set metres back from the beach making it the ideal place to visit if you’re looking to treat yourself a little and relax at the beach once you’ve done so. Noosa has a large National Park a hidden beaches and is a very popular coastal stop.
- select: Fraser Island
  description: Fraser Island is the world's largest sand island, stretching over 120km and is one of only 20 in the world. Fraser Island is an adventure playground with it's impressive natural beauty. It's a camping and ecotourism destination, with beaches and swimming sites at Lake McKenzie, Lake Wabby and other freshwater pools.
- select: Whitsundays
  description: The Whitsundays are a collection of 74 Islands off the coast of Queensland. The Islands mark the gateway to the Great Barrier Reef making the area a beautiful snorkelling and diving destination. Whilst most of the Islands are uninhabited, some of the islands have luxury, honeymoon style resorts and incredible views.
- select: Airlie Beach
  description: Airlie Beach is the vibrant hub of the Whitsundays and the ideal mainland base for fun and adventure in the Whitsundays. Located on the Great Barrier Reef and known for it's young and adventurous atmosphere it is the perfect launching pad for activities on the water and in the lush, green rainforest of the Whitsunday Coast. If you're looking to explore the Whitsunday Islands without the expense of staying on the Islands then this is definitely the place for you.
- select: Cairns
  description: Cairns is located in far North Queensland and is right at the heart of the Great Barrier Reef. Cairns is known for activities such as diving, white water rafting and bungy jumping, along with a great nightlife. Cape Tribulation is a short day trip from Cairns and it is the only place in the world where the Reef meets the Rainforest.
- select: Magnetic Island
  description: Magnetic Island is located a short ferry ride off the mainland from Townsville. The Island is famous for it's topless Barbie cars that you can hire to drive around the Island. You can hike, hire bikes or beach hop for a few days and enjoy the nightlife of an evening.
- select: Kangaroo Island
  description: Kangaroo Island is just off the peninsula from Cape Jervis which is roughly an hour and 40 minutes from Adelaide CBD. It's full of nature and wildlife and you'll have plenty of opportunities to meet some Aussie animals such as Kangaroo's, koala's, penguins and seals.
- select: Great Ocean Road
  description: The Great Ocean Road is a iconic route through Victoria stretching 243km along the south-eastern coast of Australia. The Great Ocean Road is a popular road trip with view points the whole way along it, the most famous of which is the 12 Apostles. The Great Ocean Road can be a slow and steady road trip over a few days or you can book a day trip from Melbourne to see the highlights.
transport:
- select: Car Hire
  description: If you plan on hiring a car or van to travel Australia you're likely to have that little extra freedom to be able to explore some hidden spots off the beaten path. We can provide recommendations for can and van hire across Australia so you have several options and you can pick whats most suitable for you.
- select: Train
  description: The East Coast of Australia is well connected by train routes and It's definitely possible to cover the majority of locations. However if you're looking to travel across country you will need to be open to using other means of transport.
- select: Greyhound Bus
  description: Greyhound buses cover all tourist hotspot along the East Coast of Australia. Some journeys can be up to 12 hours so if you're looking to save time on the roads you select other modes of transport as well.
- select: Plane
  description: Flying is definitely the best mode of transport if the locations you wish to visit are farely spreadout, for example Adelaide, Melbourne, Sydney, Brisbane and Cairns. These locations are often favourites but involve long travel days inbetween if you don't plan to stop at other locations to break up the journey, which makes flying the best option. (Flights across Australia can be really cheap if booked in advance)
- select: Bus
  description: The East Coast of Australia is well connected by bus routes and It's definitely possible to cover the majority of locations however we suggest you will need to be open to using other means of transport in order to reduce travel time. If you're looking to travel across country you we need to fly or use the train services.
activities:
- select: Beach Days
  description: Ones of Australia's best features are the famous white sand beaches. Beach days will be slower paced with recommendations for both hidden gems and hot spots and include recommended food spots nearby.
- select: Hiking
  description: Hikes will start from 1 hour and could be anywhere upto to 10 hour hikes. They could be coastal walks or Mountain trails. If you are interested in only shorter hikes and walks please let us know in your comments before you submit your request.
- select: Watersports
  description: Examples of watersports include white water rafting, Surfing, Kayaking, Stand Up Paddle Boarding and Diving.
- select: Museums
  description: Discover the local culture at Museums in most major cities within Australia. You can expect specialist Museums for each location. The musuems are often History based however you will be given other options also.
- select: Galleries
  description: Most Galleries are located in the larger cities such as Melbourne, Sydney and Brisbane so make sure you are travelling to these locations if you wish to visit Australia's best known art galleries.
- select: Animal Encounters
  description: Visit famous Zoo's or small wildlife sanctuary's. Australia loves to share it's unique animals and many locations offer up close encounters such as feeding Kangaroos and cuddling Koala's. Itineraries may also include Aquariums or Whale watching experiences as other examples.
- select: Landmarks
  description: Landmarks cover all the tourist hotspots and often involve a busy day of exploring and navigating a new destination. Sightseeing days can be quite busy!
- select: Photography
  description: Photography hotspots can be found all over Australia however these itineraries will be designed specifically to make sure you get the best shots. For example sunrise walks to Lighthouses and the best walking tours of the city. Other activities will be recommended whilst at each location to ensure you make the most of each stop.
- select: Sailing
  description: Sailing experiences range from Harbour Cruises with high tea to lunch to yacht socials or even Overnight sailing tours in the Whitsundays.
- select: Theme Parks
  description: The Gold Coast is known for it's Theme Parks and this a popular attraction on the East Coast. Theme parks also include Luna Parks and Circus's in Sydney and Melbourne.
- select: Nightlife
  description: Certain City's are known in particular for their nightlife. Nightlife itineraries are usually slower paced days with recommendations for the best bars and clubs in the evenings.
- select: Wineries
  description: Wineries describe the best way to discover the local wine region, that could be a 'DIY' Winery hopping day or a group tour depending on the location.
- select: Glamping
  description: Glamping or luxury beach hut accommodation set inside a National Parks around Australia. Accommodation starts from $180per night. You will need to have a 4WD car to access most experiences so bear this in mind if you wish to select this option.
start:
- select: Adelaide
- select: Great Ocean Road
- select: Melbourne
- select: Canberra
- select: Jervis Bay
- select: Sydney
- select: Central Coast
- select: Newcastle
- select: Byron Bay
- select: Gold Coast
- select: Brisbane
- select: Sunshine Coast
- select: Noosa
- select: Fraser Island
- select: Whitsundays
- select: Airlie Beach
- select: Cairns
- select: Perth
- select: Exmouth
finish:
- select: Adelaide
- select: Great Ocean Road
- select: Melbourne
- select: Canberra
- select: Jervis Bay
- select: Sydney
- select: Central Coast
- select: Newcastle
- select: Byron Bay
- select: Gold Coast
- select: Brisbane
- select: Sunshine Coast
- select: Noosa
- select: Fraser Island
- select: Whitsundays
- select: Airlie Beach
- select: Cairns
- select: Perth
- select: Exmouth

---

<!-- --------This is my map with popouts---------- -->


{% include fixed-banner.html %}


<section>
  <div class="center hidden">
    <h2 style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;"> Start planning your trip


  </h2>

    <p> Complete the steps below to help us plan an itinerary that is perfect for you! If you're not too sure which locations you want to visit have a look at the destinations on the map to get a feel for what there is to do in each location so you can pick what you'll enjoy most. </p>
    <p>(Use the +/- buttons on the lower right hand corner of the map to help you zoom in and out to get a closer look at each of the locations)</p>
  </div>
  <div class="center mobilevisible">
    <h3 style="
      font-family: 'Lato', sans-serif;
      font-weight: 400;"> Let's start planning your trip </h3>
    <p> Complete the steps below to help us plan an itinerary that is perfect for you! If you're not too sure which locations you want to visit have a look at this website on a desktop where you will be able to see a map with all of the pins explaining a little bit about each location </p>
    <p>Unfortunatley the map of Australia is just too big to be viewed on a mobile!</p>
  </div>

</section>


<section class="map comment box-fix">
  <!-- <div  class="comment-box margin-bottom-7">

  <a href="#" class="comment-box-text">
     Double click the map to zoom in and select the drop pins for more information for each location </a>

   </div> -->
   <!-- <div  class="comment-box margin-bottom-7">

   <a href="#" class="comment-box-text">
      Double click the map to zoom in and select the drop pins for more information for each location </a>

    </div> -->
  <iframe class="mediamap" src="https://snazzymaps.com/embed/219502" width="100%" height="600px" style="border:none;"></iframe>

</section>

<!-- <script type="text/javascript">
  console.log("START");

  $(document).ready(function() {
    console.log("READY");

    $('.map iframe').on('load', function(){
        console.log("MAP LOADED");

        var iframe = $('.map iframe').children();
        console.log(iframe.size());

        iframe.on('DOMNodeInserted', function(){
          console.log("INSERTED");
          window.setTimeout(addImage, 1000);
        });
    });
  });

  function addImage() {
    console.log('Popup text: ' + $('.si-wrapper-top').html());
  }
</script> -->

<!-- -------- This is my form page ---------------- -->

<form action="/success.html" method="POST" target="hidden_iframe">

<section class="">
<div class="">


  <div id="step1"  class="col-5_sm-12-middle-spaceAround  padded bg-image-apostlessoft padded center hiddenform form  relative">
    <div class="formcover  paddingtop50 bg-image-apostlessoft">
      <h3> Step One </h3>
    </div>
    <div class="bg-transparent">


    <h3 class="boldheading" for="level"> Pick a country *</h3>
    <select name="Country placeholder="select one of the below">
      <option value="Please select" selected disabled>Please select</option>
      {% for country in page.country %}
      <option required value="{{ country.select }}"> {{ country.select }} </option>

      {% endfor %}

    </select>
      <a href="#step2" class=" action-button hiddenButton"> Next </a>
    </div>
</div>

  </div>

  <div id="step2" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround card slideinright padded bg-image-beachcanoe form padded center relative">
    <div class="formcover flexcenter paddingtop50 bg-image-beachcanoe">
      <h3 class="padded-left padding-right"> Step Two </h3>
    </div>
    <div class="bg-transparent">
    <h3 class="boldheading" for="level"> How long are you planning to travel for? * </h3>
    <select name="travellength">
    <option value="Please select" selected disabled>Please select</option>
    {% for days in page.days %}
      <option required value="{{days.select}}"> {{days.select}} </option>
    {% endfor %}
    </select>
    <a href="#step1" class=" action-button"> Previous</a>
    <a href="#step3"  class=" action-button hiddenButton"> Next</a>
    </div>
  </div>

  <div id="step3" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround bg-image-bluemountains slideinleft form padded center relative">
    <div class="formcover paddingtop50 bg-image-bluemountains">
      <h3> Step Three </h3>
    </div>
    <div class="bg-transparent" id="step3" >
    <h3 class="boldheading">  Do you have a starting location? * </h3>
    <div class="radio checkboxes">
      <label for="starting-yes">YES
        <input class="start-location" type="radio"  id=starting-yes name="start" value="YES" />
      </label>
      <label for="starting-no">NO
        <input type="radio" id=starting-no name="start" value="NO" />
      </label>
      <div class="start-question" id="step3_5">
      <h3 class="boldheading" for="level"> Select your starting location *</h3>
      <select name="start-loc">
        <option value="" selected disabled>Please select</option>
       {% for start in page.start %}
         <option  value="{{start.select}}"> {{start.select}} </option>
       {% endfor %}
       </select>
       </div>
       </div>
       <a href="#step2" class=" action-button"> Previous</a>
       <a href="#step4"  class=" action-button hiddenButton"> Next</a>
    </div>
  </div>

  <div id="step4" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround slideinright bg-image-lakemackenzie form padded center relative">
<div class="formcover paddingtop50 bg-image-lakemackenzie">
<h3> Step Four </h3>
</div>
<div class="bg-transparent">
 <h3 class="boldheading">  Do you have a finishing location? * </h3>
<div  class="radio">
  <label for="finishing-yes">YES
  <input class="finish-location" type="radio" id=finishing-yes name="finish" value="YES" /> </label>


  <label for="finishing-no">NO
  <input type="radio" id=finishing-no name="finish" value="NO" /> <label>

    <div class="finish-question" id="step4_5">
      <h3 class="boldheading" for="level"> Select your finishing location *</h3>
    <select  name="finish-loc">
      <option value="" selected disabled>Please select</option>
     {% for finish in page.finish %}
       <option  value="{{finish.select}}"> {{finish.select}} </option>
     {% endfor %}
     </select>
     </div>
</div>
<a href="#step3" class=" action-button"> Previous</a>
<a href="#step5"  class=" action-button hiddenButton"> Next</a>
</div>
  </div>

  <div id="step5" style="margin-left: 0px;" class="col-5_sm-12-spaceAround bg-image-pinkbeach form slideinleft center relative">
    <div class="formcover  paddingtop50 bg-image-pinkbeach bg-image-paper">
<h3> Step Five </h3>
 </div>
<div class="bg-transparent">
  <h3 class="boldheading"> Where would you like to stop? *</h3>
<div class="checkboxes center">
{% for stops in page.stops %}


 <label class="label-container" for="{{stops.select}}"> <input class="buttons buttonsselected "  id="{{stops.select}}" role="button" type="checkbox" style="left" name="Stops" value="{{stops.select}}"/>
<span class="checkmark toggleselect">{{stops.select}}</span>
 </label>


   {% endfor %}
   <div class="toggleboxes bordertop">

     {% for stops in page.stops %}


     <div class='toggledbox paddingnone toggledout {{stops.select | replace: " ", "-"}}'>
       <p class="white larger">{{stops.description}}</p>
     </div>

     {% endfor %}
   </div>
</div>
<a  href="#step4" class=" action-button"> Previous</a>
<a href="#step6"  class="action-button  hiddenButton"> Next</a>
</div>

  </div>


  <div id="step6" style="margin-left: 0px;" class="col-5_sm-12-spaceAround bg-image-koala1 form slideinright center relative">
    <div class="formcover  paddingtop50 bg-image-koala1 bg-image-paper">
    <h3> Step Six </h3>
  </div>
  <div class="bg-transparent ">
    <h3 class="boldheading">  What modes of transport do you want to use during your trip? * </h3>
    <div class="checkboxes  center">
    {% for transport in page.transport %}


   <label class="label-container" for="{{transport.select}}">
     <input class="buttons buttonsselected " id="{{transport.select}}"  role="button" type="checkbox" style="center" name="transport" value="{{transport.select}}"/>
     <span class="checkmark toggleselect">{{transport.select}}</span>
     </label>
     {% endfor %}
     <div class="toggleboxes bordertop">

       {% for transport in page.transport %}


       <div class='toggledbox  paddingnone toggledout {{transport.select | replace: " ", "-"}}'>
         <p class="white larger">{{transport.description}}</p>
       </div>

       {% endfor %}
     </div>
     </div>
     <a href="#step5" class=" action-button"> Previous</a>
     <a href="#step7"  class=" action-button hiddenButton"> Next</a>
  </div>
  </div>

  <div id="step7" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround bg-image-wategos  slideinleft form  center relative">
    <div class="formcover  bg-image-wategos  paddingtop50 bg-image-paper">
    <h3> Step Seven </h3>
  </div>
  <div class="bg-transparent">
    <h3 class="boldheading">  What activities do you enjoy? * </h3>
      <div  class="checkboxes">
    {% for activities in page.activities %}



    <label class="label-container" for="{{activities.select}}">
      <input class="buttons center buttonsselected " id="{{activities.select}}" role="button" type="checkbox" style="center" name="activities" value="{{activities.select}}"/>
      <span class="checkmark toggleselect">{{activities.select}}</span>
    </label>
  {% endfor %}
  <div class="toggleboxes bordertop">

    {% for activities in page.activities %}



    <div class='toggledbox  paddingnone toggledout {{activities.select | replace: " ", "-"}}'>
      <p class="white larger">{{activities.description}}</p>
    </div>

    {% endfor %}
  </div>
    </div>
    <a href="#step6" class=" action-button"> Previous</a>
    <a href="#step8"  class="action-button hiddenButton"> Next</a>
  </div>
  </div>



  <div id="step8" style="margin-left: 0px;" class="col-5_sm-12-spaceAround bg-image-noosasurf form slideinright padded center relative">
    <div class="formcover paddingtop50 bg-image-noosasurf bg-image-paper">
    <h3> Step Eight </h3>
  </div>
  <div class="bg-transparent">
    <h3 class="boldheading" for="message"> Any additional comments that would help us plan your trip... </h3>
    <textarea type="text" name="message" id="message" placeholder="Tell me more!"></textarea>
    <a href="#step7" class=" action-button"> Previous</a>
    <a href="#step9"  class=" action-button"> Next</a>
    </div>

    </div>

  <div id="step9" style="margin-left: 0px;" class="col-5_sm-12-middle-spaceAround bg-image-byronshops slideinleft form padded center relative">
    <div class="formcover paddingtop50 bg-image-byronshops bg-image-paper">
    <h3> Step Nine </h3>
  </div>
    <div class="bg-transparent">

      <label for="name"> Your Name *</label>
      <input required type="text" name="name" id="name" placeholder="Name" />

      <label for="email"> Your Email * </label>
      <input type="email" name="_replyto" required id="email" placeholder="Email" />

      <label for="name"> Discount Code</label>
      <input  type="text" name="discount" id="discount" placeholder="Discount code" />

      <input type="text" name="_gotcha" style="display: none;">
      <input type="hidden" name="_to" value="mariafrancesca@postcardsfrommaria.com">
       <!-- <input type="hidden" name="_cc" value="aussieme@gmail.com"> -->
<p> <input type="submit" value="Submit for a quote"> </p>




<a href="#step8" class=" action-button"> Previous</a>
  </div>

  </div>
<!-- <div id="step10" style="margin-left: 0px;" class="form padded center relative">
  <h2 class="fs-title">Thank you for your Enquiry!!</h2>
    <p>We will be in touch with a quote in the next 48hours. </p>
    <p> If you are happy with the quote you will be sent a link to your own personal login where you will find a bespoke itineray tailored to your preferences selected.  </p>

</div> -->

</section>
</form>
