---
layout: default
---
<form action="https://formspree.io/youemail@gmail.com" method="POST">

<label for="level"> Pick a country </label>
<select name="level">
  <option value="Australia"> Australia </option>




  <label for="level"> How long are you planning to stay for? (in days) </label>
  <select name="level">
    <option value="1"> 1</option>



    <label>  Do you have a starting position?  </label>
    <div class="checkboxes">
      <p>YES<input type="checkbox" name="interests" value="YES" /> </p>
      <p>NO<input type="checkbox" name="interests" value="NO" /> </p>
    </div>


    <label>  Do you have a finishing position?  </label>
    <div class="checkboxes">
      <p>YES<input type="checkbox" name="interests" value="YES" /> </p>
      <p>NO<input type="checkbox" name="interests" value="NO" /> </p>
    </div>




    <label>  Where would you like to stop?  </label>
    <div class="checkboxes">
      <p>YES<input type="checkbox" name="interests" value="YES" /> </p>
    </div>


    <label>  What modes of transport do you want to use?  </label>
    <div class="checkboxes">
      <p>YES<input type="checkbox" name="interests" value="YES" /> </p>
    </div>

    <label>  what activities do you enjoy?  </label>
    <div class="checkboxes">
      <p>YES<input type="checkbox" name="interests" value="YES" /> </p>
    </div>







    </form>
