<!--
<div class="container">
  <div class="reviews">
    <div class="arrow1 arrows">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="reviewstuff">
      <p class="review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cumque totam quisquam iusto neque quibusdam sapiente fuga. Et fugit culpa, error delectus ullam nesciunt in quas, fuga corrupti facilis tempora.</p>
      <div class="bottomreview">
        <div class="rname">
          <div class="rfname">John</div>
          <div class="rlname">Smith</div>
        </div>
        <div class="stars2">
          <div><i class="far fa-star rstar1"></i></div>
          <div><i class="far fa-star rstar2"></i></div>
          <div><i class="far fa-star rstar3"></i></div>
          <div><i class="far fa-star rstar4"></i></div>
          <div><i class="far fa-star rstar5"></i></div>
        </div>
      </div>
    </div>
    <div class="arrow2 arrows">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div> -->
<form action="/thanks.html" method="POST">
  <div class="nopaddingtop relative">
  <div class="errorcontainer nopaddingtop">
    <i class="fas fa-exclamation-circle exc"></i>
    <div class="error padding0">You must complete all fields! Try again!</div>
  </div>
  <div class="input-container padding0">
    <div class="thank-you-container">
      <div class="thank-you">Thank you for your review!</div>
      <i class="fas fa-kiss-wink-heart"></i>
    </div>
    <div class="names grid padding0">
      <h3>Leave us a review</h3>
      <input class="col-12" type="text" class="firstname" name="First name" placeholder="First name" required>
      <input class="col-12" type="text" class="lastname" name="Last name"placeholder="Last name" required>
    </div>
    <div class="input grid padding0">
      <div class="center col-12">
        <textarea type="text" class="reviewinp" name="Message"placeholder="Write a review" required></textarea>
      </div>
      <div class="stars padded center ">
        <label name="star1" type="radio" class="star1"><i class="far fa-star starj1"></i></label>
        <label name="star2" type="radio" class="star2"><i class="far fa-star starj2"></i></label>
        <label name="star3" type="radio" class="star3"><i class="far fa-star starj3"></i></label>
        <label name="star4" type="radio" class="star4"><i class="far fa-star starj4"></i></label>
        <label name="star5"  type="radio" class="star5"><i class="far fa-star starj5"></i></label>
      </div>
      <div class="submitbtn  col-12">

  <input type="hidden" name="_to" value="mariafrancesca@postcardsfrommaria.com">
  <input type="text" name="_gotcha" style="display: none;">

        <button class="submitreview button" type="submit" value="Submit Review">Submit Review</button>

        <!-- <input type="hidden" name="_to" value="mariafrancesca@postcardsfrommaria.com"> -->

        <!-- <input type="text" name="_gotcha" style="display: none;"> -->

        <!-- <input class="submitreview button" type="submit" value="Submit Review"> -->
      </div>
    </div>
  </div>
</div>
</form>
<script src="https://kit.fontawesome.com/850830ed04.js" crossorigin="anonymous"></script>
















<!-- Add icon library -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>4.1 average based on 254 reviews.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>150</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>6</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>20</div>
  </div>
</div> -->
