
<section class="center bg-image-pinkbeachbottom padded bg-color nopaddingbottom comment-box-fix">
<div class="centered padded">
  <h3> Subscribe Now </h3>
  <p> Subscribe for a FREE 5 day example itinerary from Sydney to Byron. </p>

  <form class="email-signup" action="/exampleitinerary.html" method="POST">

    <!-- <label for="name"> Your Name *</label> -->
    <input class="padded" required type="text" name="name" id="name" placeholder="Name" />

    <!-- <label for="email"> Your Email * </label> -->
    <input type="email" name="_replyto" required id="email" placeholder="Email" />
    <input type="hidden" name="_to" value="mariafrancesca@postcardsfrommaria.com">
    <input type="text" name="_gotcha" style="display: none;">
    <button class="subscribe button" type="submit" value="Subscribe">Subscribe </button>
  </form>


</div>
</section>
<section class="margin-bottom7">

</section>
