<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"tcfPurposes":{"2":"consent_only","3":"consent_only","4":"consent_only","5":"consent_only","6":"consent_only","7":"consent_only","8":"consent_only","9":"consent_only","10":"consent_only"},"isTCFConsentGlobal":false,"consentOnContinuedBrowsing":false,"perPurposeConsent":true,"enableCMP":true,"tcfVersion":2,"newConsentAtVendorListUpdate":365,"lang":"en","siteId":1979187,"cookiePolicyId":91719999,"cookiePolicyUrl":"https://planmytravels.co.uk/CookiePolicy", "banner":{ "position":"float-bottom-right","textColor":"black","backgroundColor":"white","fontSizeCloseButton":"20px","acceptButtonDisplay":true,"acceptButtonColor":"#B8DDDD","acceptButtonCaptionColor":"white","customizeButtonDisplay":true,"customizeButtonColor":"#DADADA","customizeButtonCaptionColor":"#4D4D4D","rejectButtonDisplay":true,"rejectButtonColor":"#B8DDDD","rejectButtonCaptionColor":"white" }};
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub-v2.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" property="og:description" content="{{page.description}}">
    <title> {{page.title}} </title>
    <meta property="og:title" content="Plan My Travels">
  <!-- <meta property="og:description" content="Planning itineraries across Australia. Plan My Travels offers bespoke itineraries tailored to each customer."> -->
  <meta property="og:image" content="/images/ADVENTURER.PNG">
  <meta property="og:url" content="planmytravels.co.uk">

    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css"
    />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />


    <style>
      #map{ height: 100% }
    </style>
    <!-- Cookies policy -->
    <link rel="stylesheet" href="/cookie-consent-bar-grt/grt-cookies-consent.css" />




    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
    <script src="/javascript/info-window.js"></script>
    <script src="/javascript/map.js"></script>
    <script id="marker-content-template" type="text/x-handlebars-template">
    <div class="custom-img" style="background-image: url({{bgImg}})"></div>
    <section class="custom-content">
    <h1 class="custom-header">
     my header
    <small>my subtitle</small>
    </h1>
    <div class="custom-body">my description</div>
    </section>
  </script> -->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script:400,500,600,700|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">

  </head>
  <body>

    <!-- cookies policy -->
    <div class="grt-cookie">
      <div class="grt-cookies-msg">
        <p>
          We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you accept and understand our <a href="/PrivacyPolicy">Privacy Policy</a>, <a href="/CookiePolicy">Cookie Policy</a> and our <a href="/TermsofService">Terms of Service</a>.</p>
        </p>

      </div>
      <span class="grt-cookie-button">Accept</span>
    </div>

  <!-- --------------------- THIS IS THE HEADER --------------- -->


    <header class="fixed  header">
      <div id="header_bar">&nbsp;</div>
  <h1 class="logo"> Plan My Travels </h1>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/index">Home</a></li>
    <li><a href="/ItineraryPlanner">Plan My Travels </a></li>
    <li><a href="/FAQs">FAQ's </a></li>

  </ul>
    <hr>


</header>





    <!-- <h2> Fixed Banner</h2>

    <section class="banner grid-center fixed">
      <div class="col-6_sm-12-middle centered">
        <h2 class="big-bold"> This this a heading </h2>
        <h3 class="not-bold"> This is a sub-heading </h3>
      </div>
    </section>
  </header>-->

  {{content}}



<!-- --------------------- THIS IS THE FOOTER --------------- -->


    <footer class="grid footer">
      <!-- column -->
      <div class="col-4_sm-12 padding-top padding-left">
        <h2 class="logo"> Plan My Travels </h2>
        <p class="nopaddingtop smalltext"> Website designed and created by Maria Francesca Reynolds.</p>
        <p class="smalltext">Copyright © Maria Reynolds</p>
        <p class="smalltext"><a class="smalltext" href="/PrivacyPolicy">Privacy Policy</a></p>
        <p class="smalltext"><a class="smalltext" href="/TermsofService">Terms of Service</a></p>
        <p class="smalltext"><a class="smalltext" href="/CookiePolicy"> Cookie Policy</a></p>
      </div>
      <!-- <div class="col-1 sm-hidden"></div> -->
      <!-- column -->

      <div class="col-3_sm-12-middle">
        <nav class="inline socials">
          <a href="https://www.facebook.com/Planmytravels">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://www.instagram.com/plan_my_travels/">
            <i class="fab fa-instagram"></i>
          </a>
          <!-- <a href="#">
            <i class="fab fa-pinterest"></i>
          </a> -->
        </nav>

      </div>

      <div class="col-2 sm-hidden"></div>

      <div class="col-3_sm-12-middle  mobile-init  right">
        <nav class="inline padded">
          <a class="padded decoration" href="/index"> Home </a>
          <a class="padded decoration" href="/ItineraryPlanner"> Plan My Travels </a>
          <a class="padded decoration" href="/FAQs"> FAQ's </a>
        </nav>
      </div>

      </div>



  </footer>

<!-- scripts -->


    <script type="text/plain" class="_iub_cs_activate" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer></script>
    <!-- jQuery -->
    <script type="text/plain" class="_iub_cs_activate" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"  defer></script>
    <!-- jQuery easing plugin -->
    <script type="text/plain" class="_iub_cs_activate" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"  defer></script>

    <script type="text/plain" class="_iub_cs_activate" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js" defer></script>
    <script type="text/javascript" src="/javascript/typing.js" defer></script>
    <script src="/javascript/header_bar.js" defer> </script>
    <script src="/javascript/expire-date.js" defer> </script>
    <script src="/javascript/planner-if-statements.js" defer> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js" defer> </script>
    <script src="/javascript/lightbox.js" defer></script>
    <script src="/javascript/read-more-button.js" defer></script>
    <script src="/javascript/review.js" defer></script>

    <script src="/cookie-consent-bar-grt/grt-cookie-consent.js" defer></script>
    <script src="/javascript/grt-cookie-consent.js" defer></script>

    <script src="/javascript/accordian.js" defer></script>


    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script>

  // initialize the map
  var map = L.map('map', {
    scrollWheelZoom: false
}).setView([42.35, -71.08], 13);

  // load a tile layer
  L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>',
      maxZoom: 17,
      minZoom: 9
    }).addTo(map);

  // load GeoJSON from an external file
  $.getJSON("/javascript/map.geojson",function(data){
    var mapIcon = L.icon({
      iconUrl: 'https://andywoodruff.com/maptime-leaflet/rat.png',
      iconSize: [60,50]
    });
    L.geoJson(data,{
      pointToLayer: function(feature,latlng){
        var marker = L.marker(latlng,{icon: mapIcon});
        marker.bindPopup('<div class="popup-content"><img src="'+ feature.properties.image +'"><h3>' + feature.properties.city + '<h3/><div class="popup-description">' + feature.properties.description + '</div></div>');
        return marker;
      }
    }).addTo(map);
  });

  </script>


<!-- Google analytics -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/plain" class="_iub_cs_activate" async src="https://www.googletagmanager.com/gtag/js?id=UA-171580968-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171580968-1');
</script>

  </body>
</html>
