---
layout: default
banner-image: /images/whitsundays-view-cropped.jpg
---
<div class="grid">

  <h2 class="col-6 right padded bluetext">Hi {{page.client-intro}} are you ready for
  </h2>
  <h3 class="padded bluetext col-6 "><span class="center" id="typed"></span></h3>
  <div  id="typed-strings">

    {% for day in page.day %}
    <span>DAY {{ forloop.index }} - {{day.location | replace: "-", " "}}</span>
    {% endfor %}
  </div>

</div>

<div class="hidecontent" id="expire-date">
  {{page.expire-date}}
</div>
<section id="expirecontent" class="grid-spaceAround titles">


  {% for day in page.day %}
<div class="col-5_md-12 padded">

  {% include ItineraryDays/{{day.location}}.html %}

</div>
  {% endfor %}

</section>
