---
layout: default
banner-image: /images/operahouse.jpg
---
<div class="">

  <h3 class=" padded-1 bluetext">Hi {{page.client-intro}} are you ready for...
  </h3>
  <h3 class="padded-1 bluetext"><span class="center" id="typed"></span></h3>
  <div  id="typed-strings">

    {% for day in page.day %}
    <h3> <span>DAY {{ forloop.index }} - {{day.location | replace: "-", " "}}</span></h3>
    {% endfor %}
  </div>

</div>



<div class="hidecontent" id="expire-date">
  {{page.expire-date}}
</div>
<section id="expirecontent" class="grid-spaceAround titles">


  {% for day in page.day %}
<div class="col-5_md-12 padded">

  {% include ItineraryDays/{{day.location}}.html %}

</div>
  {% endfor %}

</section>
